@tailwind base;
@tailwind components;
@tailwind utilities;

/* Themes */
.light-theme {
  --background: #f8fafc;
  --txt: #000;
  --heading: #2dd9fe;
  --btn-background: #5f99be;
}

.dark-theme {
  --background: #1e293b;
  --txt: #fff;
  --heading: #4666ff;
  --btn-background: #5f99be;
}

body {
  background: var(--background);
  color: var(--txt);
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: system-ui, sans-serif;
}
